.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #232525, #373838, #565756);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
    text-align: center;
}

.btn:hover {
    background-position: right;
}