<a class="sidenav-trigger menu" data-target="menu-side">
    <i class="material-icons">menu</i>
</a>
<ul class="sidenav" id="menu-side">
    <li>
        <div class="user-view">
            <a (click)="cerrarSesion()" style="position: absolute; top: -6px; right: 15px; font-size: 13px; cursor: pointer;">
                <span class="white-text">Cerrar Sesión</span>
            </a>
            <div class="background">
                <img src="../../assets/img/trafic.jpg" alt="">
            </div>
            <a href="#">
                <img class="circle" src="../../assets/img/user.jpg" alt="" style="margin-left: 36%;">
            </a>
            <a href="">
                <span class="name white-text">{{identity.name}} {{identity.lastname}}</span>
            </a>
            <a href="">
                <span class="email white-text">{{identity.email}}</span>
            </a>
        </div>
    </li>
    <li>
        <a [routerLink]="['/pagos']">
            <i class="material-icons">credit_card</i>
            Pagos
        </a>
    </li>
    <li>
        <a [routerLink]="['/ayuda']">
            <i class="material-icons">help_outline</i>
            Ayuda
        </a>
    </li>
</ul>
<div class="container_map">      
    <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search-destiny" type="search" required placeholder="¿A dónde vas?">
              <label class="label-icon" for="search"><i class="material-icons">directions</i></label>
              <button class="btn-floating btn-large waves-effect waves-light red" id="BuscarCoor" onclick="BuscarMap()"><i class="material-icons">search</i></button>
            </div>
          </form>
        </div>
      </nav>
    <div id='gmap_canvas' class="map_canvas" ></div>
    <div class="footer"><p class="allRights">All rights reserved © 2019</p></div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Conductor asignado</h4>
          <ul class="collapsible">
                <li class="active">
                  <div class="collapsible-header"><i class="material-icons">storage</i>Estado: Servicio aceptado</div>
                  <div class="collapsible-body"><span>El conductor está en camino</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">assignment_turned_in</i>Datos del conductor</div>
                    <div class="collapsible-body">
                      <span>Nombre: Andres Gomez</span><br>
                      <span>Carro: Ford Fiesta blanco</span><br>
                      <span>Placa: BR*-00*</span>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">payment</i>Detalle del servicio</div>
                  <div class="collapsible-body">
                      <span>Pago en efectivo</span><br>
                      <span>Total: $9.500</span>
                </div>
                </li>
              </ul>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
    </div>
</div>