.container.container_map{
    width: 100%;
}

.map_canvas{
    width: 100%;
    height: 100vh;
}

.footer{
    width: 100%;
    background: black;
    height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.allRights{
    color: white;
    font-size: 12px;
    padding: 15px;
}

nav .input-field{
    background: black;
}

.nav-wrapper .input-field input[type=search]{
    text-align: center;
}

nav .input-field{
    width: 50%;
    margin: auto;
}

nav .nav-wrapper{
    background: black;
}

@media (max-width: 600px) {
    nav .input-field {
      width: 100%;
    }
}    

.waves-effect{
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;    
    margin-top: 10px;
    right: 0;
    margin-right: 5px;
    
}

.btn-floating.btn-large i {
    line-height: 50px;
    background: #404040;
}

.menu {
    color: #FFF;
    position: absolute;
    left: 15px;
    top: 20px;
    cursor: pointer;
    z-index: 100;
}