<div class="container section">
    <a class="sidenav-trigger" data-target="menu-side" style="color: #232525; position: absolute; left: 15px; cursor: pointer;">
        <i class="material-icons">menu</i>
    </a>

    <ul class="sidenav" id="menu-side">
        <li>
            <div class="user-view">
                <a (click)="cerrarSesion()" style="position: absolute; top: -6px; right: 15px; font-size: 13px; cursor: pointer;">
                    <span class="white-text">Cerrar Sesión</span>
                </a>
                <div class="background">
                    <img src="../../assets/img/trafic.jpg" alt="">
                </div>
                <a href="#">
                    <img class="circle" src="../../assets/img/logo.jpeg" alt="" style="margin-left: 36%;">
                </a>
                <a href="">
                    <span class="name white-text">{{identity.name}} {{identity.lastname}}</span>
                </a>
                <a href="">
                    <span class="email white-text">{{identity.email}}</span>
                </a>
            </div>
        </li>
        <li>
            <a [routerLink]="['/historial']">
                <i class="material-icons">dvr</i>
                Historial
            </a>
        </li>
        <li>
            <a [routerLink]="['/pagos']">
                <i class="material-icons">credit_card</i>
                Pagos
            </a>
        </li>
        <li>
            <a [routerLink]="['/ayuda']">
                <i class="material-icons">help_outline</i>
                Ayuda
            </a>
        </li>
        <li>
            <a [routerLink]="['/configuracion']">
                <i class="material-icons">settings</i>
                Configuración
            </a>
        </li>
    </ul>
</div>
<div class="container_map">      
    <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search-destiny" type="search" required placeholder="¿A dónde vas?">
              <label class="label-icon" for="search"><i class="material-icons">directions</i></label>
              <button class="btn-floating btn-large waves-effect waves-light red" id="BuscarCoor" onclick="BuscarMap()"><i class="material-icons">search</i></button>
            </div>
          </form>
        </div>
      </nav>
    <div id='gmap_canvas' class="map_canvas" ></div>
    <div class="footer"><p class="allRights">All rights reserved © 2019</p></div>
</div>